
@tailwind base;
@tailwind components;
@tailwind utilities;
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* navbar */
.navbar{
  @apply bg-opacity-75 w-full px-4 shadow-sm fixed top-0 left-0 z-50;
}

.navbar h1{
  @apply text-3xl md:text-5xl font-bold md:text-center md:m-4 uppercase text-gray-700;
}

.navbar a{
  @apply text-gray-500 hover:text-red-500 ml-2 text-xl border-b-2 border-transparent hover:border-red-500 py-1 px-2 mx-5;
}

/* content */
